<!-- app/templates/auth/login.html -->
{% extends "base.html" %}

{% block content %}
{# Centering container with border #}
<div class="container-bordered" style="max-width: 450px;"> {# Adjusted max-width #}
    <h3 style="text-align: center;">Sign In</h3>
    <hr>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.username_or_email.label }}<br>
            {{ form.username_or_email() }}
            {% for error in form.username_or_email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div style="margin-top: 15px;">
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div style="margin-top: 15px;">
            {{ form.remember_me() }} {# Render checkbox #}
            {{ form.remember_me.label }}
        </div>
        
        <div style="margin-top: 20px;">
            {{ form.submit() }}
        </div>
    </form>
    <hr>
    <p style="text-align: center;">
        New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a>
    </p>
</div>
{% endblock %}
